/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rubik';
    src: url("fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

.box{
    margin: 0 auto;
    border-radius: 10px; 
    width: 670px;
    height: 440px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 0 20px gray;
    position: relative;
    display: flex; 
}

.logo{
    margin-bottom: 30px;
}

.bota{
    position: absolute;
    left: -80px;
    bottom: 10px;
}

.polovina{
    padding: 30px;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.leva{
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(to bottom, #06d7c1, #50cc49);
    margin: 0; 
}
.leva p{
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.cena, 
.zaruka{
    text-align: right;
    color: white
}

.cena{
    margin-top: 230px;
    font-size: 28px;
    font-weight: 500;
}

.zaruka{
    font-size: 12px;
    font-weight: 400;
}

h1{
    font-size: 20px;
    font-weight: 500;
}

.beh{
    color:rgb(141, 141, 141);
    margin: 10px 0;
}

.odstavec{
    padding: 30px 0;
    border-bottom: 1px solid #06d7c1;
}

h2{
    padding: 30px 0 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 80px;
    font-size: 16px;
}

a{
    padding: 10px 20px;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.vyber{
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 5px;
    color: orangered;
}